.footer {
  background-color: #121212;
  color: #eff2ec;
  padding: 20px;
  text-align: center;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-links {
  padding: 0;
  margin: 0;
}

.footer-main h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-main p,
.footer-links li {
  margin: 6px 0;
  font-size: 14px;
  color: #ebe3e3;
}

.footer-links a {
  text-decoration: none;
  color: #f7f4f4;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #00a878;
}

@media (max-width: 768px) {
  .footer-main {
    grid-template-columns: 1fr;
  }
}
