.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  height: 120px;
  box-sizing: border-box;

  background: #fbfcfe;
}
.logo {
  padding: 20px;
  width: 100px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-right: 10px;
}
.navbar a {
  color: #020814;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.navbar a:hover {
  background: #b8c1d1;
}
.cart-link {
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.cart-count {
  font-size: 0.7rem;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -12px;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
