.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  background: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 50px;
}

.navbar a {
  text-decoration: none;
  color: #111827;
  font-size: 16px;
}

.cart-link {
  position: relative;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;

  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.auth-desktop {
  display: flex;
  gap: 20px;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  right: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  width: 160px;
  z-index: 999;
}

@media (max-width: 768px) {
  .nav-left a {
    display: none;
  }

  .auth-desktop {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
/* wrapper */
.profile-wrapper {
  position: relative;
}

/* button */
.profile-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* avatar */
.profile-avatar {
  font-size: 18px;
}

/* dropdown box */
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;

  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  min-width: 160px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.profile-dropdown a,
.profile-dropdown button {
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #111;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  background: #f3f4f6;
}
